
/****** Object:  StoredProcedure [Mosaico].[sp_LancamentoVenda_IncluiX]    Script Date: 15/07/2022 14:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Mosaico].[sp_LancamentoVenda_IncluiX]
(
	@LancamentoID INT,
	@Bloqueado BIT,
	@Credito MONEY,
	@SequencialDiario SMALLINT,
	@VendedorID INT,
	@CorretorID INT,
	@CorretorComissao DECIMAL(5, 2),
	@CorretorBonus MONEY,
	@TaxaEntregaID INT,
	@EntregadorID INT,
	@Homens TINYINT,
	@Mulheres TINYINT,
	@Criancas TINYINT,
	@Dinheiro MONEY,
	@Cheque MONEY,
	@Protocolo VARCHAR(255),
	@FormaDePagamento1 SMALLINT,
	@Valor1 MONEY,
	@Cartao1Numero VARCHAR(20),
	@Cartao1Validade INT,
	@Cartao1CS SMALLINT,
	@FormaDePagamento2 SMALLINT,
	@Valor2 MONEY,
	@Cartao2Numero VARCHAR(20),
	@Cartao2Validade INT,
	@Cartao2CS SMALLINT,
	@FormaDePagamento3 SMALLINT,
	@Valor3 MONEY,
	@Cartao3Numero VARCHAR(20),
	@Cartao3Validade INT,
	@Cartao3CS SMALLINT,
	@EntregaNome VARCHAR(60),
	@EntregaCEP VARCHAR(08),
	@EntregaEndereco VARCHAR(80),
	@EntregaNumero SMALLINT,
	@EntregaComplemento VARCHAR(255),
	@EntregaBairro VARCHAR(40),
	@EntregaCidade VARCHAR(40),
	@EntregaUF VARCHAR(02),
	@EntregaReferencia VARCHAR(255),
	@EntregaTelefones VARCHAR(120),
	@EntregaCelulares VARCHAR(120),
	@Consumo SMALLINT
)
AS
BEGIN
	UPDATE Mosaico.LancamentoVenda SET
		Edicao = GETDATE(),
		Bloqueado = @Bloqueado,
		Credito = @Credito,
		SequencialDiario = @SequencialDiario,
		VendedorID = @VendedorID,
		CorretorID = @CorretorID,
		CorretorComissao = @CorretorComissao,
		CorretorBonus = @CorretorBonus,
		TaxaDeEntregaID = @TaxaEntregaID,
		EntregadorID = @EntregadorID,
		Homens = @Homens,
		Mulheres = @Mulheres,
		Criancas = @Criancas,
		Dinheiro = @Dinheiro,
		Cheque = @Cheque,
		Protocolo = @Protocolo,
		FormaDePagamento1 = @FormaDePagamento1,
		Valor1 = @Valor1,
		Cartao1Numero = @Cartao1Numero,
		Cartao1Validade = @Cartao1Validade,
		Cartao1CS = @Cartao1CS,
		FormaDePagamento2 = @FormaDePagamento2,
		Valor2 = @Valor2,
		Cartao2Numero = @Cartao2Numero,
		Cartao2Validade = @Cartao2Validade,
		Cartao2CS = @Cartao2CS,
		FormaDePagamento3 = @FormaDePagamento3,
		Valor3 = @Valor3,
		Cartao3Numero = @Cartao3Numero,
		Cartao3Validade = @Cartao3Validade,
		Cartao3CS = @Cartao3CS,
		EntregaNome = @EntregaNome,
		EntregaCEP = @EntregaCEP,
		EntregaEndereco = @EntregaEndereco,
		EntregaNumero = @EntregaNumero,
		EntregaComplemento = @EntregaComplemento,
		EntregaBairro = @EntregaBairro,
		EntregaCidade = @EntregaCidade,
		EntregaUF = @EntregaUF,
		EntregaReferencia = @EntregaReferencia,
		EntregaTelefones = @EntregaTelefones,
		EntregaCelulares = @EntregaCelulares,
		Consumo = @Consumo
	WHERE
		(ID = @LancamentoID);
	IF (@@ROWCOUNT = 0)
	BEGIN
		INSERT INTO	Mosaico.LancamentoVenda
		(
			ID,							
			Edicao,
			Status,
			Bloqueado,
			Credito,
			SequencialDiario,
			VendedorID,
			CorretorID,
			CorretorComissao,
			CorretorBonus,
			TaxaDeEntregaID,
			EntregadorID,
			Homens,
			Mulheres,
			Criancas,
			Dinheiro,
			Cheque,
			Protocolo,
			FormaDePagamento1,
			Valor1,
			Cartao1Numero,
			Cartao1Validade,
			Cartao1CS,
			FormaDePagamento2,
			Valor2,
			Cartao2Numero,
			Cartao2Validade,
			Cartao2CS,
			FormaDePagamento3,
			Valor3,
			Cartao3Numero,
			Cartao3Validade,
			Cartao3CS,
			EntregaNome,
			EntregaCEP,
			EntregaEndereco,
			EntregaNumero,
			EntregaComplemento,
			EntregaBairro,
			EntregaCidade,
			EntregaUF,
			EntregaReferencia,
			EntregaTelefones,
			EntregaCelulares,
			Consumo
		)
		VALUES
		(
			@LancamentoID,
			GETDATE(),
			0,
			@Bloqueado,
			@Credito,
			@SequencialDiario,
			@VendedorID,
			@CorretorID,
			@CorretorComissao,
			@CorretorBonus,
			@TaxaEntregaID,
			@EntregadorID,
			@Homens,
			@Mulheres,
			@Criancas,
			@Dinheiro,
			@Cheque,
			@Protocolo,
			@FormaDePagamento1,
			@Valor1,
			@Cartao1Numero,
			@Cartao1Validade,
			@Cartao1CS,
			@FormaDePagamento2,
			@Valor2,
			@Cartao2Numero,
			@Cartao2Validade,
			@Cartao2CS,
			@FormaDePagamento3,
			@Valor3,
			@Cartao3Numero,
			@Cartao3Validade,
			@Cartao3CS,
			@EntregaNome,
			@EntregaCEP,
			@EntregaEndereco,
			@EntregaNumero,
			@EntregaComplemento,
			@EntregaBairro,
			@EntregaCidade,
			@EntregaUF,
			@EntregaReferencia,
			@EntregaTelefones,
			@EntregaCelulares,
			@Consumo
		);
	END;
END;